@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* HEADER START */
body {
  overflow-x: hidden;
}
.container {
  border-radius: 3128px;
  border: 1px solid #f0ebfa;
  background-image: url(./Ellipse\ 1.png);
}
.logo {
  color: #1d2830;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.44px;
  margin-top: 16px;
}
header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 65px;
}
nav {
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
  width: 450px;
  align-items: center;
  color: #35414b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#nav_btn_login {
  color: #35414b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400px;
  line-height: 16px;
  background: none;
  border: none;
}
#nav_btn-getstartedfree {
  color: #794cff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 4px;
  background: #ece5ff;
  border: none;
  width: 169px;
  height: 48px;
}
/* HEADER FINISH */
/* SECTION-1 START */
.section-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}
.radiuses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.radiuses__row {
  margin-bottom: 24px;
  margin-top: 60px;
}
#radiusbd_save90 {
  color: #fff;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  width: 108px;
  height: 32px;
  border-radius: 100px;
  padding: 8px 16px;
  background: #81c43b;
  margin-right: -10px;
  position: relative;
  z-index: 2;
}
#radiusbd_getacnt59 {
  color: #35414b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 0px 100px 100px 0px;
  background: #f2f9eb;
  padding: 8px 16px;
  width: 179px;
  height: 32px;
  margin-left: -10px;
}

#h1 {
  padding-bottom: 24px;
  color: #35414b;
  max-width: 760px;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  margin: 0 auto;
}
#paragraph1 {
  padding-bottom: 24px;
  color: #4e5a65;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 505px;
  margin: 0 auto;
}
.parentofbutton {
  display: flex;
  justify-content: center;
}
#btn_email {
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #e1e5ea;
  background: #fff;
  color: #97a5b5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 18px 99px 18px 24px;
}
#btn_trytofree {
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #794cff;
  background: #794cff;
  width: 164px;
  height: 52px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  position: relative;
  right: 10px;
  margin-bottom: 30px;
}
/* SECTION-1 FINISH */
/* SECTION-1 IMG START */
.img_craph21 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 920px;
  height: 654.287px;
  background: none;
  box-shadow: 0px 0px 48px -8px rgba(29, 40, 48, 0.18);
}
/* SECTION-1 IMG FINISH */
/* SECTION-2 START */
.letter_trustedbyover {
  padding-bottom: 30px;
}
.letterbottom {
  color: #4e5a65;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
}
.letterbottom span {
  color: #4e5a65;
  font-family: Inter;
  font-size: 16px;
  margin: 0px 5px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.logopart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 106px;
}
/* SECTION-2 FINISH */
/* SECTION-3 START */
.SECTION-3 {
  background-image: url(./images/Rectangle\ 24.png);
  width: 1505px;
  height: 640px;
  border: 1px solid #f0ebfa;
  background: #fbfafe;
  display: flex;
}
.SECTION-3_img {
  width: 657px;
  height: 518px;
  padding: 61px 60px 61px 100px;
}
.wordsinSection3_right {
  padding: 77px 198px 77px 0;
}
.tittle_surveyurteam {
  color: #35414b;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  width: 308px;
}
.border_surveyurteam {
  padding: 5px 187px 84px 32px;
  width: 190px;
  height: 40px;
}
.border_surveyurteam:first-child {
  border-radius: 0px 8px 8px 0px;
  border-left: 8px solid #794cff;
  background: #f6f3fc;
}
.p_border_surveyurteam {
  color: #4e5a65;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 380px;
  height: 48px;
}
/* SECTION-3 FINISH */
/* SECTION-4 START */
.capital_tittle_h2 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tittle_h2 {
  color: #35414b;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.Capitalwords_first {
  color: #35414b;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.paragraphs4_first {
  color: #4e5a65;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.line_1 {
  width: 372px;
  height: 1px;
  background: #f0ebfa;
}
.line_2 {
  width: 372px;
  height: 1px;
  background: #f0ebfa;
}
.Capitalwords_second {
  color: #35414b;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.paragraphs4_second {
  color: #4e5a65;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.boxes_first {
  display: flex;
  justify-content: space-evenly;
  margin: 56px 0px;
}
.boxes_second {
  display: flex;
  justify-content: space-evenly;
  margin: 56px 0px 100px 0px;
}
.box_1 {
  display: flex;
  flex-direction: column;
}
.box_2 {
  display: flex;
  flex-direction: column;
}
.boxes_first span {
  margin-top: 8px;
}
.boxes_second span {
  margin-top: 8px;
}
.boxes_first img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
.boxes_second img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
/* SECTION-4 FINISH */
/* SECTION-5 START  */
.SECTION5 {
  background-image: url(./images/Rectangle\ 33.png);
  display: flex;
  height: 500px;
}
.title_wework {
  color: #35414b;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.paragraph_section5 {
  color: #4e5a65;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 413px;
  margin-bottom: 40px;
}
.button_section5 {
  width: 300px;
  height: 52px;
  border-radius: 4px;
  background: #796eff;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 18px 21px;
}
.SECTION-5_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-5__wrapper {
  width: 50%;
}
.SECTION-5_right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* SECTION-5 FINISH */
/* SECTION-6 START */
.container_6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.tittle_section-6 {
  color: #35414b;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  max-width: 394px;
}
.paragraph_section-6 {
  color: #4e5a65;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 543px;
}
.line_section-6 {
  width: 264px;
  height: 4px;
  background: #35414b;
  display: flex;
  margin-left: 130px;
  margin-top: 48px;
}
.employees_container {
  display: flex;
  margin-top: 24px;
  justify-content: space-evenly;
}
.employees_information img {
  display: flex;
}
.employees_img {
  display: flex;
}
.employees_text {
  margin-left: 15px;
}
.employees_name {
  color: #4e5a65;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  width: 129px;
}
.employees_stuff {
  color: #4e5a65;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  width: 250px;
  margin: 5px 0px;
}
.header_container_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.contaier_box {
  border-radius: 16px;
  background: #796eff;
  width: 1110px;
  height: 224px;
  flex-shrink: 0;
  margin-top: 104px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.information_ {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  max-width: 423px;
  height: 96px;
}
.appsstore_logo {
  margin-left: 24px;
}
/* SECTION-6 FINISH */
/* SECTION-7 START */
.footer {
  background: #1d2830;
  height: 336px;
  display: flex;
  justify-content: space-evenly;
}
.cappital_words {
  color: #fff;
  font-feature-settings: "salt" on, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.block_words {
  color: #fff;
  font-feature-settings: "salt" on, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.word_intasll-app {
  color: var(--text-gray-100, #f4f5f7);
  font-feature-settings: "salt" on, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.first_container span {
  margin-bottom: 24px;
}
.second_container span {
  margin-bottom: 24px;
}
.third_container span {
  margin-bottom: 24px;
}
.fourth_container span {
  margin-bottom: 24px;
}
.footer_information1 {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.footer_information2 {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.footer_information3 {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.footer_information4 {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.img_1 {
  margin-bottom: 16px;
}
.last_line {
  width: 1440px;
  height: 1px;
  color: #ffffff;
}
.last_line {
  width: 1440px;
  height: 1px;
  fill: var(--default-white, #fff);
  opacity: 0.3;
}
/* SECTION-7 FINISH */
/* SECTION-8 START */
.last_footer {
  height: 80px;
  background: #1d2830;
  display: flex;
  align-items: center;
}
.words_last_footer {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "salt" on, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  width: 540px;
  margin-left: 198px;
}
.last_img_logo {
  display: flex;
  margin: 0 24px 0 355px;
}
.first_logo {
  margin-right: 24px;
}
.second_logo {
  margin-right: 24px;
}
.third_logo {
  margin-right: 24px;
}
.fourth_logo {
  margin-right: 24px;
}

/* SECTION-8 FINISH */
